<div class="users-container mat-elevation-z8">
    <h2>User Roles</h2>

    <table mat-table [dataSource]="users" class="mat-elevation-z8" style="width: 100%">
        <!-- Username Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let user">{{ user.role }}</td>
        </ng-container>


        <!-- Change Role Column -->
        <ng-container matColumnDef="changeRole">
            <th mat-header-cell *matHeaderCellDef>Change Role</th>

            <td mat-cell *matCellDef="let user">

                <div *ngIf="user.role === 'SuperAdmin'; else editableRole">
                    <span style="color: #555; font-weight: 500;"></span>
                </div>
                <ng-template #editableRole>
                    <mat-form-field appearance="outline" style="width: 150px; margin: 0">
                        <mat-select [value]="user.role" (selectionChange)="changeRole(user.userName, $event.value)">
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{ role }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-template>

            </td>
        </ng-container>


        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>