.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    text-align: center;
}

.menu-items {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-btn {
    width: 200px;
    padding: 12px;
    font-size: 18px;
    background-color: #0070ad;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #0e8acf;
}